@model SankoHospital.MvcWebUI.Models.LoginViewModel

<h2>Login</h2>
<form method="post">
    <label>Username</label>
    <input asp-for="Username" />
    <label>Password</label>
    <input asp-for="Password" type="password" />
    <button type="submit">Login</button>
</form>

<div style="color:red">
    @Html.ValidationSummary()
</div>