@model SankoHospital.MvcWebUI.Models.RegisterViewModel

<h2>Register</h2>
<form method="post">
    <label>Username</label>
    <input asp-for="Username" />
    <label>Password</label>
    <input asp-for="Password" type="password" />
    <label>Confirm Password</label>
    <input asp-for="ConfirmPassword" type="password" />
    <button type="submit">Register</button>
</form>

<div style="color:red">
    @Html.ValidationSummary()
</div>
