<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SankoHospital.MvcWebUI</title>
    <!-- Bootstrap min.css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- Animate.css (opsiyonel) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Site genel CSS (site.css) -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SankoHospital.MvcWebUI.styles.css" asp-append-version="true"/>

    <!-- Sayfaya özel ek stil -->
    @RenderSection("PageStyles", required: false)
</head>
<body class="bg-light d-flex align-items-center justify-content-center" style="min-height: 100vh;">
<!-- Burada sadece ana içerik (kart) gösterilecek -->
@RenderBody()

<!-- jQuery, Bootstrap JS -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
